name: Test action
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: true
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          # TODO: return windows back when it supported
          # - windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache
        uses: actions/cache@v2
        with:
          path: ~/.dove
          key: ${{ runner.os }}-dove

      - name: download latest version
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: test
        run: dove -V

      - name: download 1.2.1 version
        uses: ./
        with:
          version: 1.2.1
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: test
        run: dove -V
      - name: download prerelease
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: "true"
      - name: test
        run: dove -V

  macos_test_for_1_1_4:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2

      - name: download 1.1.4 version
        uses: ./
        with:
          version: 1.1.4
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: test
        run: dove -V
